{
  "presets": [["@babel/preset-env",{
    "targets": {
      "node": true
    }
  }],"@babel/preset-flow"],
  "plugins": ["@babel/plugin-proposal-optional-chaining","@babel/transform-flow-strip-types", "@babel/plugin-proposal-object-rest-spread", "dynamic-import-node"]
}

